* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #25292e;
  }
  
  h1 {
    color: #ffd33d;
    margin-top: 0;
    font-size: 40px;
    text-shadow: 3px 3px 3px slategrey;
  }
  
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-inline-start: 20px;
  }
  
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  .square {
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 80px;
    height: 80px;
    border-radius: 20%;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
  }
  
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  
  #status {
    color: aliceblue;
    margin-bottom: 10px;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  #startOverBtn {
    width: 50;
    margin-top: 5px;
    background-color: darkslategrey;
    border-radius: 20%;
    color: beige; 
  }

  #startOverBtn:hover {
    width: 50;
    margin-top: 5px;
    background-color: slategrey;
    border-radius: 20%;
    color: black; 
    
  }