#particles {
  z-index: -1;
  position: absolute;
}
body {
  font-family: sans-serif;
  align-content: center;
  margin: 20px;
  justify-items: center;
  background-color: #25292e;
}

h1 {
  color: #ffd33d;
  margin-top: 0;
  font-size: 50px;
  text-shadow: 4px 4px 4px slategrey;
}

.square {
  color: #25292e;
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  border-radius: 20%;
  text-align: center;
  width: 100px;
}

.board-row {
  clear: both;
  content: '';
  display: table;
}

#status {
  color: #ffd33d;
  margin-bottom: 10px;
  text-shadow: 4px 4px 4px slategrey;
}


#startOverBtn {
  padding: 10px;
  margin-top: 5px;
  background-color: #ffd33d;
  border-radius: 30%;
  text-shadow: 3px 3px 3px slategrey;
  color: black; 
}

#startOverBtn:hover {
  padding: 10px;
  margin-top: 5px;
  background-color: #ffd33d;
  text-shadow: 3px 3px 3px black;
  border-radius: 10%;
  color: beige; 
  
}